.App,
body {
  text-align: center;
  background-color: aquamarine;
  margin-top: 25px;
}

.Col {
  margin-bottom: 15px;
}

#cardd {
  background-color: rgb(60, 173, 173);
  width: 300px;
  margin: 20px;
}

.Link {
  color: blueviolet;
}

.artwork-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#the-owner {
  text-decoration: none;
  color: white;
}
